/* FIX!!! */

* {
    box-sizing: border-box;
}

.checkbox-contatiner {
    display: flex;
    align-items: center;
}

.checkbox-contatiner label {
    cursor: pointer;
    display: flex;
    font-size: 50px;
}

.checkbox-contatiner input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-contatinerf label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-right: 0.5 em;
    border: 0.05em solid black;
}

.checkbox-contatiner label:hover::before,
.checkbox-contatiner input[type='checkbox']:hover + label::before {
    background-color: #35E07D;
}

.checkbox-contatiner input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 20px black;
}

.checkbox-contatiner input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: cetner;
    color: white;
}

.alert {
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display:none;
}
